.list_movie_img{
    width: 16%;
    margin-bottom: 1rem;
    cursor: pointer;
    transition: transform ease-in .2s;
}
.div_movie_list{
    flex-wrap: wrap;
    justify-content: space-between;
}
.list_movie_img:hover{
    transform: scale(1.1);
}
.movie_list_filter{
    display: flex;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.movie_list_filter li{
    cursor: pointer;
    color: white;
    list-style:none;
    margin-right: .7rem;
    background-color: rgb(43, 43, 43);
    padding: .5rem 1rem;
    border-radius: 5px;
}
.category_search{
    color: white;
    font-size: 2rem;
    font-weight: 600;
    margin-top: 3rem;
    margin-left: 2rem;
}
.movie_list_filter li.activeCategory {
    background: #b20000 !important;
}