nav {
  background-color: rgb(0 0 0 / 34%);
  box-shadow: 0 0 74px rgb(0 0 0 / 53%);
  padding-left: 3.5rem;
  padding-right: 3.5rem;
  position: relative;
  z-index: 1;
}
.logo-div {
  display: flex;
  align-items: center;
}
.logo-div img {
  width: 120px !important;
}

.logo-div div ul {
  display: flex;
  color: white;
  list-style: none;
  margin-left: 15px;
  margin-bottom: 0px;
  padding: 0px;
}
.logo-div div ul li {
  margin-left: 1.2rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.2s;
  color: white;
}
.logo-div div ul li a {
  color: white;
  text-decoration: none;
}
.logo-div div ul li a:hover {
  color: rgb(179, 179, 179);
}
.red_button {
  color: white;
  background-color: #e50914;
  line-height: normal;
  padding: 4px 22px 0px;
  text-align: center;
  border: none;
  font-size: 1rem;
  vertical-align: middle;
  font-weight: 400;
  margin-bottom: 0px;
  height: auto;
  border-radius: 3px;
  line-height: 1.9;
  display: flex;
  justify-content: center;
}
.search_box {
  padding: 0.2rem 1rem 0.2rem 0.8rem;
  border-radius: 5px;
  color: white;
  background: black;
  box-shadow: 0 0 10px rgb(71, 71, 71);
  width: 400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.search_box svg {
  color: white;
  font-size: 1.2rem;
}
.search_box input {
  border: none;
  background: black;
  color: white;
  font-size: 0.9rem;
  margin: 0.1rem 0px;
  border-radius: 5px;
  width: 100%;
  padding: 0.2rem 0.5rem;
}
.search_box input:focus {
  outline: none;
  border: none;
  box-shadow: none;
}
.search_box input::-webkit-input-placeholder {
  color: white;
}
.search_box input:-ms-input-placeholder {
  color: white;
}
.search_box input::-ms-input-placeholder {
  color: white;
}
.search_box input::placeholder {
  color: white;
}
.sign_up_button {
  margin-left: 1rem;
}

.favoriteNav {
  position: relative;
}
.red_badge.favorite {
  position: absolute;
  background-color: red;
  border-radius: 50%;
  width: 1rem;
  height: 1rem;
  font-size: 0.8rem;
  font-weight: bold;
  text-align: center;
  top: -0.3em;
  right: -1rem;
}

.name_logo {
  background: #005070;
  color: white;
  width: 50px;
  height: 50px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 1.4rem;
  padding-top: 0.5rem;
  font-weight: 700;
}
.user_name {
  width: 60%;
  margin-left: 0.3rem;
  font-weight: 600;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: white;
}
.dropdown {
  margin-left: 0.3rem;
  cursor: pointer;
}
.margin-left-auto {
  margin-left: auto;
}
.ul_movie_favorite {
  display: flex;
  margin-bottom: 0px;
  list-style: none;
  width: 100%;
  align-items: center;
  flex-wrap: wrap;
  padding-left: 0px;
}
.ul_movie_favorite li a {
  color: white;
  text-decoration: none;
  margin-left: 1rem;
  font-weight: 600;
}
.ul_movie_favorite li a:hover {
  color: rgb(201, 201, 201);
}
.ul_movie_favorite li.active a {
  color: rgb(179, 179, 179);
}
.searchbar {
  margin-left: auto;
  align-items: center;
}
@media (max-width: 1080px) {
  .flex-direction-coloumn {
    flex-direction: column-reverse;
    padding-bottom: 1rem;
  }
}
@media (max-width: 991px) {
  .ul_movie_favorite {
    flex-direction: column;
    align-items: flex-start;
  }
  .ul_movie_favorite li {
    padding: 0.3rem 0rem;
  }
}
