.footer_section {
  padding: 70px 45px;
  margin: auto;
  width: 70%;
  color: gray;
}
.footer_ul {
  list-style: none;
  margin: 0px;
  padding-left: 0px;
  margin-top: 1rem;
}
.footer_ul li {
  margin-bottom: 1rem;
  font-weight: 400;
  font-size: 0.9rem;
}
@media (max-width: 1150px) {
  .footer_section {
    width: 90%;
  }
}
@media (max-width: 970px) {
  .footer_section {
    width: 95%;
  }
  .footer_ul{
      width: 50%;
  }
}
@media (max-width: 970px) {
 
  .footer_ul{
      width: 100%;
  }
}
