.login_box {
  width: 450px;
  background: rgba(0, 0, 0, 0.801);
  margin: auto;
  height: auto;
  padding: 60px 68px 50px;
}

.emailForm {
  background: #333;
  border-radius: 4px;
  border: 0;
  color: #fff;
  height: 50px;
  line-height: 50px;
  padding: 16px 20px 0;
}
.emailForm:focus {
  outline: none !important;
  border: none !important;
  background: #333;
  color: #fff;
  box-shadow: none;
}
.font-weight-bold {
  font-weight: bold;
}
.remembarFont {
  color: #b3b3b3;
  font-size: 14px;
  font-weight: 500;
}
.hovertoCursor {
  text-decoration: none;
}
.hovertoCursor:hover {
  cursor: pointer;
  text-decoration: underline;
}
.form_text {
  color: #737373;
  font-size: 15px;
  font-weight: 500;
}
.font-16 {
  font-size: 16px;
}
.small_text {
  font-size: 13px;
  line-height: 15px;
}
.warning_font {
  display: block;
  margin-top: -0.5rem !important;
  margin-bottom: 1rem;
  font-size: 0.8rem;
  padding-left: 0.4rem;
}
